body {
  display: block;
  margin: 8px;
  background-color: black;
  /* width: 50%; */
}

#c {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  /* background-image: url('tunnel.jpg'); */
  background-color: black;
  z-index: -2;
}

/* #c {
    position: fixed;
    left: 16.5%;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
    z-index: -2;
  } 
*/
/* #big {
    position: fixed;
    left: 0;
    top: 0;
    width: 66vw;
    height: 100vh;
    display: block;

    z-index: -1;
  } */

#big {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;

  z-index: -1;
}

.diagram {
  display: inline-block;
  width: 50%;
  /* padding-bottom: 30%; */
  /*I'll need to fix this not being responsive*/
  height: 50%;
  z-index: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* #box_container {
    width: 50%;
    height: 50%;
    margin: 0px;
  }

  #pyramid_container {
    width: 50%;
    height: 50%;
    margin: 0px;
  }
  #dodecahedron_container {
    width: 50%;
    height: 50%;
    margin: 0px;
  }
  #plane_container {
    width: 50%;
    height: 50%;
    margin: 0px;
  } */

#pitchplane {
  width: 50%;
  height: 50%;
}

#beatline {
  width: 50%;
  height: 50%;
}
#glitchdistort {
  width: 50%;
  height: 50%;
}
#neoline {
  width: 25%;
  height: 50%;
}
